<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
                                
        <title id="headTitle">美素佳儿2段金装</title>
                                
        <!-- Bootstrap core CSS -->
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
            
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
        
        <script src="../../dist/js/jquery-2.1.4.min.js"></script>
                                            
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>
        
        <nav class="navbar navbar-default navbar-static-top"
            style="background-color:#FF82AB">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="color:#0A0A0A">发 现 美 好</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse"> </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>
        
        <div class="container">
            <ul class="nav nav-pills pull-center" id="specList" style="display:none;">
                <li><a href="#" id="specList1" style="display:none;">400g罐装</a></li>
                <li><a href="#" id="specList2" style="display:none;">900g罐装</a></li>
                <li><a href="#" id="specList3" style="display:none;">400g盒装</a></li>
                <li><a href="#" id="specList4" style="display:none;">1200g盒装</a></li>
                <li><a href="#" id="specList5" style="display:none;"></a></li>
                <li><a href="#" id="specList6" style="display:none;"></a></li>
            </ul>
        </div>
        
        <br />
        
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item">
                                <img class="first-slide" id="rotatePic1" src="../pics/Friso2p1.jpg" alt="First slide">
                                    </div>
                            <div class="item active">
                                <img class="second-slide" id="rotatePic2" src="../pics/Friso2p2.jpg" alt="Second slide">
                                    </div>
                            <div class="item">
                                <img class="third-slide" id="rotatePic3" src="../pics/Friso2p3.jpg" alt="Third slide">
                                    </div>
                        </div>
                        <a class="left carousel-control"  style="background-image:none;" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" style="background-image:none;" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-7" id="prdTags">
                    <div class="panel panel-default" id="prdTags1" style="display:none;">
                        <div class="panel-heading" id="prdTags1Name">产地最好</div>
                        <div class="panel-body"  id="prdTags1Detail">荷兰是世界上牧场最好的国家</div>
                    </div>
                    <div class="panel panel-default" id="prdTags2" style="display:none;">
                        <div class="panel-heading" id="prdTags2Name">不上火</div>
                        <div class="panel-body" id="prdTags2Detail">美素奶粉独特的小分子技术，不上火</div>
                    </div>
                    <div class="panel panel-default" id="prdTags3" style="display:none;">
                        <div class="panel-heading" id="prdTags3Name">易吸收</div>
                        <div class="panel-body" id="prdTags3Detail">美素奶粉独特的小分子技术，易吸收</div>
                    </div>
                    <div class="panel panel-default" id="prdTags4" style="display:none;">
                        <div class="panel-heading" id="prdTags4Name"></div>
                        <div class="panel-body" id="prdTags4Detail"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <br />
        
        <div class="container">
            <div class="jumbotron" style="padding:25px 15px">
                <div class="row" id="sourceList1" style="display:none;">
                    <div class="col-md-4" id="sl1Src1" style="display:none;">
                        <div class="row">
                            <div class="col-md-5" >
                                <img src="../pics/jd-logo.png" id="sl1Src1Logo" alt="..." class="img-thumbnail">
                                    </div>
                            <div class="col-md-3">
                                <h4 class="text-center" id="sl1Src1Price" >220元</h4>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-lg" id="sl1Src1BuyButton">去购买</button>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" style="margin-top:2px;" id="sl1Src1Discounts">
                            <div class="panel-heading" >优惠信息</div>
                            <div class="panel-body" id="sl1Src1DisDesc">满599返80</div>
                        </div>
                    </div>
                    
                    <div class="col-md-4" id="sl1Src2" style="display:none;">
                        <div class="row">
                            <div class="col-md-5" >
                                <img src="../pics/jd-logo.png" id="sl1Src2Logo" alt="..." class="img-thumbnail">
                                    </div>
                            <div class="col-md-3">
                                <h4 class="text-center" id="sl1Src2Price">220元</h4>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-lg" id="sl1Src2BuyButton">去购买</button>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" style="margin-top:2px;" id="sl1Src2Discounts">
                            <div class="panel-heading" >优惠信息</div>
                            <div class="panel-body" id="sl1Src2DisDesc">满599返80</div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-4" id="sl1Src3" style="display:none;">
                        <div class="row">
                            <div class="col-md-5" >
                                <img src="../pics/jd-logo.png" id="sl1Src3Logo" alt="..." class="img-thumbnail">
                                    </div>
                            <div class="col-md-3">
                                <h4 class="text-center" id="sl1Src3Price">220元</h4>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-lg" id="sl1Src3BuyButton">去购买</button>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" style="margin-top:2px;" id="sl1Src3Discounts">
                            <div class="panel-heading" >优惠信息</div>
                            <div class="panel-body" id="sl1Src3DisDesc">满599返80</div>
                        </div>
                        
                    </div>
                </div>
                
                <br />
                
                <div class="row" id="sourceList2" style="display:none;">
                    <div class="col-md-4" id="sl2Src1" style="display:none;">
                        <div class="row">
                            <div class="col-md-5" >
                                <img src="../pics/jd-logo.png" id="sl2Src1Logo" alt="..." class="img-thumbnail">
                                    </div>
                            <div class="col-md-3">
                                <h4 class="text-center" id="sl2Src1Price" >220元</h4>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-lg" id="sl2Src1BuyButton">去购买</button>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" style="margin-top:2px;" id="sl2Src1Discounts">
                            <div class="panel-heading" >优惠信息</div>
                            <div class="panel-body" id="sl2Src1DisDesc">满599返80</div>
                        </div>
                    </div>
                    
                    <div class="col-md-4" id="sl2Src2" style="display:none;">
                        <div class="row">
                            <div class="col-md-5" >
                                <img src="../pics/jd-logo.png" id="sl2Src2Logo" alt="..." class="img-thumbnail">
                                    </div>
                            <div class="col-md-3">
                                <h4 class="text-center" id="sl2Src2Price">220元</h4>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-lg" id="sl2Src2BuyButton">去购买</button>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" style="margin-top:2px;" id="sl2Src2Discounts">
                            <div class="panel-heading" >优惠信息</div>
                            <div class="panel-body" id="sl2Src2DisDesc">满599返80</div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-4" id="sl2Src3" style="display:none;">
                        <div class="row">
                            <div class="col-md-5" >
                                <img src="../pics/jd-logo.png" id="sl2Src3Logo" alt="..." class="img-thumbnail">
                                    </div>
                            <div class="col-md-3">
                                <h4 class="text-center" id="sl2Src3Price">220元</h4>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-lg" id="sl2Src3BuyButton">去购买</button>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" style="margin-top:2px;" id="sl2Src3Discounts">
                            <div class="panel-heading" >优惠信息</div>
                            <div class="panel-body" id="sl2Src3DisDesc">满599返80</div>
                        </div>
                        
                    </div>
                </div>
                
                <br />
                
                <div class="row" id="sourceList3"  style="display:none;">
                    <div class="col-md-4" id="sl3Src1" style="display:none;">
                        <div class="row">
                            <div class="col-md-5" >
                                <img src="../pics/jd-logo.png" id="sl3Src1Logo" alt="..." class="img-thumbnail">
                                    </div>
                            <div class="col-md-3">
                                <h4 class="text-center" id="sl3Src1Price" >220元</h4>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-lg" id="sl3Src1BuyButton">去购买</button>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" style="margin-top:2px;" id="sl3Src1Discounts">
                            <div class="panel-heading" >优惠信息</div>
                            <div class="panel-body" id="sl3Src1DisDesc">满599返80</div>
                        </div>
                    </div>
                    
                    <div class="col-md-4" id="sl3Src2" style="display:none;">
                        <div class="row">
                            <div class="col-md-5" >
                                <img src="../pics/jd-logo.png" id="sl3Src2Logo" alt="..." class="img-thumbnail">
                                    </div>
                            <div class="col-md-3">
                                <h4 class="text-center" id="sl3Src2Price">220元</h4>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-lg" id="sl3Src2BuyButton">去购买</button>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" style="margin-top:2px;" id="sl3Src2Discounts">
                            <div class="panel-heading" >优惠信息</div>
                            <div class="panel-body" id="sl3Src2DisDesc">满599返80</div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-4" id="sl3Src3" style="display:none;">
                        <div class="row">
                            <div class="col-md-5" >
                                <img src="../pics/jd-logo.png" id="sl3Src3Logo" alt="..." class="img-thumbnail">
                                    </div>
                            <div class="col-md-3">
                                <h4 class="text-center" id="sl3Src3Price">220元</h4>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger btn-lg" id="sl3Src3BuyButton">去购买</button>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" style="margin-top:2px;" id="sl3Src3Discounts">
                            <div class="panel-heading" >优惠信息</div>
                            <div class="panel-body" id="sl3Src3DisDesc">满599返80</div>
                        </div>
                        
                    </div>
                </div>
                
                
            </div>
            
            
            
        </div>
        <!-- /container -->
        
        
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
        </footer>
        
        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
        
        
        <script>
            $().ready(function(){
                      $.getJSON( "api/product/specList.do", function( data ) {
                                var list = data.specList.do || [];
                                if(list.length > 0){
                                $.each( list, function( typeNum, type ) {
                                       var specListId = "specList" + typeNum;
                                       
                                       $("#"+specListId).html(type.name);
                                       $("#"+specListId).attr("href", type.url);
                                       
                                       if(type.selected == "true"){
                                       $("#"+specListId).parent().addClass("active");
                                       }
                                       
                                       $("#"+specListId).show();
                                       });
                                $("#specList").show();
                                }
                                });
                      $.getJSON( "api/product/detail.do", function( data ) {
                                $.each( data.rotatePicList, function( rotateNum, rotate ) {
                                       
                                       $("#rotatePic"+rotateNum).attr("src",product.url);
                                       });
                                $.each( data.tags, function( tagNum, tag ) {
                                        var tagObjId = "prdTags"+tagNum;
                                       
                                       $("#"+tagObjId+"Name").html(product.name);
                                       $("#"+tagObjId+"Detail").html(product.detail);
                                
                                       
                                       $("#"+tagObjId).show();
                                       });
                                $.each( data.sourceList, function( srcNum, source ) {
                                       var row = srcNum / 3 + 1;
                                       var num = srcNum % 3 + 1;
                                       
                                       var srcObjId = "sl"+row+"Src"+num;
                                       
                                       $("#"+srcObjId+"Logo").attr("src",source.pic);
                                       $("#"+srcObjId+"BuyButton").html(source.url);
                                       $("#"+srcObjId+"Price").html(source.price);
                                       
                                       var discountsDesc = "";
                                       $.each( source.discountList, function( disNum, discount ) {
                                              discountsDesc = discountsDesc + discount.detail + "<br />";
                                              });
                                       $("#"+srcObjId+"DisDesc").html(discountsDesc);
                                       
                                       $("#"+srcObjId).show();
                                       $("#specList"+row).show();
                                       });
                                });
                      
                      });
            </script>
        
        
    </body>
</html>
